.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  width: 350px;
  margin: 0px;
}
.profile-div {
  width: 350px;
  height: 131px;
  background-color: #f9e0bb;
  border-top-left-radius: 50px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: start;
  margin: 0px;
}
.menu-items {
  width: 350px;
  background-color: #f9e0bb;
  border-radius: 50px;
  height: 400px;
}
.profile {
  width: 96px;
  height: 96px;
  display: flex;
  border-radius: 25px;
  margin: 18px 8px 17px 27px;
}
.profile-name {
  width: 184px;
  height: 100px;
}
.profile-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  text-align: start;
}
.username {
  font-weight: 400;
  width: 185px;
  height: 25px;
  margin: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: start;
}

.line {
  height: 0.5px;
  background-color: #e74646;
  width: 70%;
}
.sidebar-text {
  display: inline-block;
  margin-right: 0px;
  margin-left: 120px;
  margin-top: 30px;
  font-weight: 500;
  position: absolute;
  font-size: 20px;
  color: #e74646;
}

.menu-item {
  display: flex;
  margin-right: 30px;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  translate: all 300ms ease;
  position: relative;
}
